#### Coding carried out in Google Colab

In [14]:
#Redaing train data with target derived
train_df = pd.read_csv('/content/drive/MyDrive/flight/train_target.csv')

In [15]:
#reading final weather data
weather_df = pd.read_csv('/content/drive/MyDrive/flight/DriveUploader/final_weather_data.csv')

In [16]:
train_df.head()

,FlightNumber,DayOfWeek,Origin,Destination,Distance,ActualArrivalTimeStamp,ScheduledArrTime_c,FlightDelayStatus
0,SMF_ATL_37955,3,SMF,ATL,2092,2004-01-01 19:11:00,2004-01-01 19:11:00,2
1,VLD_ATL_48545,3,VLD,ATL,208,2004-01-01 14:55:00,2004-01-01 14:55:00,2
2,DTW_BOS_31626,3,DTW,BOS,632,2004-01-01 18:33:00,2004-01-01 16:57:00,1
3,MKE_BWI_39603,3,MKE,BWI,641,2004-01-01 15:25:00,2004-01-01 15:25:00,2
4,DFW_CLT_33648,3,DFW,CLT,936,2004-01-01 18:14:00,2004-01-01 18:14:00,2

In [17]:
weather_df.head()

,WeatherStationID,SkyConditions,Visibility,DBT,RelativeHumidityPercent,WindSpeed,WindDirection,StationPressure,HourlyPrecip,YearMonthDay_Time,AirportID,StationHeight,Latitude,Longitude,TimeZone
0,3011,FEW075 BKN090,10.00,32.0,40.0,15.0,160,30.05,0.0,2004-01-01 13:50:00,TEX,0.0,37.57,-107.55,4
1,3011,BKN028 OVC033,10.00,21.0,74.0,5.0,30,30.06,0.0,2004-01-01 19:10:00,TEX,0.0,37.57,-107.55,4
2,3011,FEW025 OVC032,9.00,25.0,75.0,4.0,30,30.06,0.0,2004-01-01 20:10:00,TEX,0.0,37.57,-107.55,4
3,3011,FEW045 BKN060 OVC080,10.00,34.0,54.0,16.0,240,29.92,0.0,2004-01-02 04:10:00,TEX,0.0,37.57,-107.55,4
4,3011,BKN010 OVC017,1.75,25.0,85.0,0.0,0,29.95,0.0,2004-01-02 07:30:00,TEX,0.0,37.57,-107.55,4

In [18]:
train_df.shape

(7861, 8)

In [19]:
weather_df.shape

(6485177, 15)

In [20]:
train_df.dtypes

FlightNumber              object
DayOfWeek                  int64
Origin                    object
Destination               object
Distance                   int64
ActualArrivalTimeStamp    object
ScheduledArrTime_c        object
FlightDelayStatus          int64
dtype: object

In [21]:
weather_df.dtypes

WeatherStationID             int64
SkyConditions               object
Visibility                 float64
DBT                        float64
RelativeHumidityPercent    float64
WindSpeed                  float64
WindDirection                int64
StationPressure            float64
HourlyPrecip               float64
YearMonthDay_Time           object
AirportID                   object
StationHeight              float64
Latitude                   float64
Longitude                  float64
TimeZone                     int64
dtype: object

In [22]:
train_df.isna().sum()

FlightNumber              0
DayOfWeek                 0
Origin                    0
Destination               0
Distance                  0
ActualArrivalTimeStamp    0
ScheduledArrTime_c        0
FlightDelayStatus         0
dtype: int64

In [23]:
weather_df.isna().sum()

WeatherStationID             0
SkyConditions                0
Visibility                   0
DBT                          0
RelativeHumidityPercent      0
WindSpeed                    0
WindDirection                0
StationPressure              0
HourlyPrecip                 0
YearMonthDay_Time            0
AirportID                  928
StationHeight              928
Latitude                   928
Longitude                  928
TimeZone                     0
dtype: int64

In [25]:
train_df.head()

,FlightNumber,DayOfWeek,Origin,Destination,Distance,ActualArrivalTimeStamp,ScheduledArrTime_c,FlightDelayStatus
0,SMF_ATL_37955,3,SMF,ATL,2092,2004-01-01 19:11:00,2004-01-01 19:11:00,2
1,VLD_ATL_48545,3,VLD,ATL,208,2004-01-01 14:55:00,2004-01-01 14:55:00,2
2,DTW_BOS_31626,3,DTW,BOS,632,2004-01-01 18:33:00,2004-01-01 16:57:00,1
3,MKE_BWI_39603,3,MKE,BWI,641,2004-01-01 15:25:00,2004-01-01 15:25:00,2
4,DFW_CLT_33648,3,DFW,CLT,936,2004-01-01 18:14:00,2004-01-01 18:14:00,2

In [26]:
# Converting to respective columns to datetime format
train_df['ActualArrivalTimeStamp'] = pd.to_datetime(train_df['ActualArrivalTimeStamp'],format = '%Y-%m-%d %H:%M')
train_df['ScheduledArrTime_c'] = pd.to_datetime(train_df['ScheduledArrTime_c'],format = '%Y-%m-%d %H:%M')
weather_df['YearMonthDay_Time'] = pd.to_datetime(weather_df['YearMonthDay_Time'],format = '%Y-%m-%d %H:%M')

In [27]:
# Renaming columns to merge both dataframes
pd.DataFrame(train_df).rename(columns = {'ActualArrivalTimeStamp':'DateTimeStamp'},inplace = True)
pd.DataFrame(weather_df).rename(columns = {'YearMonthDay_Time':'DateTimeStamp'},inplace = True)

In [28]:
train_df.dtypes

FlightNumber                  object
DayOfWeek                      int64
Origin                        object
Destination                   object
Distance                       int64
DateTimeStamp         datetime64[ns]
ScheduledArrTime_c    datetime64[ns]
FlightDelayStatus              int64
dtype: object

In [29]:
weather_df.dtypes

WeatherStationID                    int64
SkyConditions                      object
Visibility                        float64
DBT                               float64
RelativeHumidityPercent           float64
WindSpeed                         float64
WindDirection                       int64
StationPressure                   float64
HourlyPrecip                      float64
DateTimeStamp              datetime64[ns]
AirportID                          object
StationHeight                     float64
Latitude                          float64
Longitude                         float64
TimeZone                            int64
dtype: object

In [37]:
#sorting values
train_df.sort_values(by = 'DateTimeStamp',ignore_index = True,inplace = True,)

In [38]:
weather_df.sort_values(by = 'DateTimeStamp',ignore_index = True,inplace = True,)

In [39]:
# Using merge_asof func to merge the dataframes w.r.t to DateTimeStamp 
train_df_v2 = pd.merge_asof(train_df,weather_df,on = 'DateTimeStamp',left_by = 'Destination',right_by = 'AirportID',\
                            tolerance = pd.Timedelta('4000m'),direction = 'nearest')

In [40]:
train_df_v2.shape

(7861, 22)

In [41]:
pd.options.display.max_columns = 50
pd.options.display.max_rows = 500
train_df_v2.head()

,FlightNumber,DayOfWeek,Origin,Destination,Distance,DateTimeStamp,ScheduledArrTime_c,FlightDelayStatus,WeatherStationID,SkyConditions,Visibility,DBT,RelativeHumidityPercent,WindSpeed,WindDirection,StationPressure,HourlyPrecip,AirportID,StationHeight,Latitude,Longitude,TimeZone
0,BOI_SFO_31365,3,BOI,SFO,522,2004-01-01 07:39:00,2004-01-01 07:39:00,2,23234,FEW022 SCT026 OVC033,2.5,54.0,83.0,27.0,180,29.77,0.2,SFO,18.0,37.37,-122.24,5
1,PHL_CVG_49031,3,PHL,CVG,507,2004-01-01 08:14:00,2004-01-01 08:14:00,2,93814,SCT250,10.0,29.0,85.0,3.0,160,29.40,0.0,CVG,883.0,39.02,-84.40,2
2,HNL_EWR_52219,3,HNL,EWR,4962,2004-01-01 08:20:00,2004-01-01 08:20:00,2,14734,FEW045 SCT250,10.0,38.0,48.0,15.0,330,30.27,0.0,EWR,30.0,40.43,-74.10,2
3,DEN_LAS_43741,3,DEN,LAS,629,2004-01-01 09:02:00,2004-01-01 09:02:00,2,23169,BKN140 OVC200,10.0,47.0,41.0,11.0,170,27.86,0.0,LAS,2180.0,36.05,-115.10,5
4,ATL_IAH_48665,3,ATL,IAH,689,2004-01-01 10:14:00,2004-01-01 09:43:00,1,12960,OVC001,0.0,66.0,100.0,8.0,140,30.15,0.0,IAH,108.0,29.59,-95.22,3

In [42]:
train_df_v2.isna().sum()

FlightNumber               0
DayOfWeek                  0
Origin                     0
Destination                0
Distance                   0
DateTimeStamp              0
ScheduledArrTime_c         0
FlightDelayStatus          0
WeatherStationID           0
SkyConditions              0
Visibility                 0
DBT                        0
RelativeHumidityPercent    0
WindSpeed                  0
WindDirection              0
StationPressure            0
HourlyPrecip               0
AirportID                  0
StationHeight              0
Latitude                   0
Longitude                  0
TimeZone                   0
dtype: int64

In [47]:
# Info on final train dataset 
train_df_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7861 entries, 0 to 7860
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FlightNumber             7861 non-null   object
 1   DayOfWeek                7861 non-null   int64
 2   Origin                   7861 non-null   object
 3   Destination              7861 non-null   object
 4   Distance                 7861 non-null   int64
 5   DateTimeStamp            7861 non-null   datetime64[ns]
 6   ScheduledArrTime_c       7861 non-null   datetime64[ns]
 7   FlightDelayStatus        7861 non-null   int64
 8   WeatherStationID         7861 non-null   int64
 9   SkyConditions            7861 non-null   object
 10  Visibility               7861 non-null   float64
 11  DBT                      7861 non-null   float64
 12  RelativeHumidityPercent  7861 non-null   float64
 13  WindSpeed                7861 non-null   float64
 14  WindDirection            7861 non-null   int64
 15  StationPressure          7861 non-null   float64
 16  HourlyPrecip             7861 non-null   float64
 17  AirportID                7861 non-null   object
 18  StationHeight            7861 non-null   float64
 19  Latitude                 7861 non-null   float64
 20  Longitude                7861 non-null   float64
 21  TimeZone                 7861 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(6), object(5)
memory usage: 1.4+ MB

In [43]:
null = train_df_v2[train_df_v2['WeatherStationID'].isnull()]

In [45]:
#checking for unique timezone values to check any disperancy in naming convention
train_df_v2['TimeZone'].unique()

array([5, 2, 3, 4, 0, 6, 1])

In [46]:
#saving final train dataset for model building
train_df_v2.to_csv('final_train_dataset.csv',index_label = False)